@model IEnumerable<studreg_test.Models.Courses>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Available.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassTime.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Available.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassTime.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseId })
        </td>
    </tr>
}

</table>
